@page
@model RazorApp_ADO.Pages.Users.Login_ScalarModel
@{
    ViewData["Title"] = "Login_Scalar";
}
<div class="row justify-content-center align-items-center" style="height:75vh">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4">
        <div class="card h-100">
            <div class="card-header"><h1>Login Scalar</h1></div>
            <div class="card-body">
                <form method="post">
                    <div class="mb-3">
                        <label asp-for="Username" class="form-label">Username</label>
                        <input asp-for="Username" class="form-control">
                        <div id="UsernameHelp" class="form-text">Enter you username.</div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="pass" class="form-label">Password</label>
                        <input asp-for="pass" class="form-control ms-auto">
                        <div id="PasswordHelp" class="form-text">Enter a valid password.</div>
                    </div>
                    <div class="mb-3 form-text text-danger">
                        @Model.msg
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <a href="#" class="card-link">Register</a>
                <a href="#" class="card-link">Forgot password</a>
            </div>
        </div>
    </div>

</div>